
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="img/battery logo.png" type="image/x-icon">
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/homepage.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body>

    <div class="modal fade" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <section style="padding-top: 10px" class="container">
                        <form style="padding-bottom: 60px" class="form-login">
                            <h1 style="bottom: 20px" class="h2 mb-4 font-weight-normal">Login</h1>

                            <label for="inputEmail" class="sr-only">Email</label>
                            <input style="bottom: 10px" type="email" id="emailLogin" class="form-control" placeholder="Digite seu email" required autofocus>

                            <label for="inputPassword" class="sr-only">Senha</label>
                            <input style="bottom: 5px" type="password" id="senhaLogin" class="form-control" placeholder="Digite sua senha" required>

                            <button id="botaoEntrar" class="btn btn-lg btn-dark btn-block" onclick="handleLogin(event)" type="button">Entrar</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cadastrarModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <section style="padding-top: 10px" class="container">
                        <form style="padding-bottom: 60px" class="form-login">
                            <h1 style="bottom: 20px" class="h2 mb-4 font-weight-normal">Cadastrar</h1>

                            <div>
                                <label>Nome</label>
                                <input type="text" id="nome" class="form-control" placeholder="" required>
                                <span id="ErroNome" class="text-danger">a</span>
                            </div>

                            <div>
                                <label style="padding-top: 15px">Email</label>
                                <input type="text" id="email" class="form-control" placeholder="email@email.com" required>
                                <span id="ErroEmail" class="text-danger">a</span>
                            </div>

                            <div>
                                <label style="padding-top: 15px">Senha</label>
                                <input type="password" id="senha" class="form-control" placeholder="" required>
                            </div>

                            <div>
                                <label>Confirmar Senha</label>
                                <input type="password" id="confirmar-senha" class="form-control" placeholder="" required>
                            </div>

                            <button id="btnCadastrar" class="btn btn-lg btn-dark btn-block" onclick="" type="submit">Cadastrar</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a id="battery-link-label" class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Turn IT Greener</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" data-toggle="modal" href="#loginModal">Entrar</a>
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" data-toggle="modal" href="#cadastrarModal">Cadastrar</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="index" asp-controller="home">
                                <span data-feather="home"></span>
                                Início<span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="perfil">
                                <span data-feather="user"></span>
                                Meu Perfil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="ranking">
                                <span data-feather="bar-chart-2"></span>
                                Ranking
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="map">
                                <span data-feather="map"></span>
                                Lugares para descarte
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="#" asp-controller="#">
                                <span data-feather="settings"></span>
                                Configurações
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    @*<div id="demo" class="carousel slide" data-ride="carousel">
        <ul id="carousel-indicators" class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/maisusa.jpg" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption caption">
                    <h3>Anything about anything</h3>
                    <p>We had such a great time in LA!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/maisusa.jpg" alt="Chicago" width="1100" height="500">
                <div class="carousel-caption caption">
                    <h3>Chicago</h3>
                    <p>Thank you, Chicago!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/maisusa.jpg" alt="New York" width="1100" height="500">
                <div class="carousel-caption caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
        </div>
        <a id="button-prev" class="carousel-control-prev button" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a id="button-next" class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>*@

    <div id="questions" class="container">
        <div id="accordion">
            <div class="card">
                <div style="color: black" data-toggle="collapse" href="#collapseOne" class="card-header">
                    <label>Porque as pilhas são prejudiciais ao meio ambiente?</label>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        As pilhas são compostas de metais pesados e tóxicos, como o mercúrio, chumbo e o cádmio, que quando jogados incorretamente em lixões e aterros comuns podem contaminar o solo e os lençóis freáticos.
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="color: black" data-toggle="collapse" href="#collapseTwo" class="card-header">
                    <label>Quais os problemas ambientais que as pilhas podem causar?</label>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        A contaminação do solo e lençóis freáticos são algumas consequências do descarte incorreto de pilhas e baterias usadas. Algumas dessas, compostas de metais pesados, como o chumbo, mercúrio, níquel e cádmio; são capazes de causar doenças renais, cânceres e problemas relacionados no sistema nervoso central.
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="color: black" data-toggle="collapse" href="#collapseThree" class="card-header">
                    <label>Como se deve descartar as pilhas?</label>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Veja se na embalagem consta que a pilha pode ser descartada no lixo comum. As pilhas do tipo alcalinas não contém metais pesados em sua composição. Já as pilhas comuns, como as recarregáveis, possuem mercúrio, cádmio e chumbo, e devem ser devolvidas ao fabricante.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="js/homepage.js"></script>
    <script src="~/js/cadastro.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/login.js"></script>
    <script>
        const handleLogin = async (event) => {
            event.preventDefault()
            //const response = await axios.post("https://localhost:44379/api/token", {
            //    email: "kennedy@gmail.com",
            //    password: "12345678"
            //});
            //console.log(response);
            //if (response.status == 200) {
            //}
            window.location.href = "/Perfil";
            //}
            //se não mostra erro
        }
    </script>
</body>
</html>
