h11 {
    color:red;
}

#logo {
    width:50%;
    height:50%;
}

.panel-heading{
    font-size:150%;
}

#name {
    width: 400px;
}

#cellphone {
    width: 140px;
}

#telephone {
    width: 140px;
}

#cep {
    width: 179px;
}