
@model BatteryCollectionViews.Models.UserViewModel

@using (Html.BeginForm())
{
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="index" asp-controller="home">Início</a>
        </li>
        <li class="breadcrumb-item active">Configurações</li>
        <li class="breadcrumb-item active">Conta</li>
    </ol>

    <div style="padding-right: 40%" class="account">
        <form id="form">
            <div class="form-group">
                <div class="form-label-group">
                    <input style="width: 400px" asp-for="@Model.Name" type="text" id="inputName" class="form-control" placeholder="Nome" required="required" autofocus="autofocus" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input style="width: 400px" asp-for="@Model.Email" type="email" id="inputEmail" class="form-control" placeholder="Email" required="required" />
                </div>
            </div>
            <input id="button" type="submit" value="Salvar Alterações" class="btn btn-dark btn-block" />
            <style>
                #button {
                    height: 50px;
                    width: 400px;
                }
            </style>
        </form>
    </div>
}