@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Turn IT Greener</title>
    <link rel="icon" href="img/battery logo.png" type="image/x-icon">
    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: { lat: -26.886795, lng: -49.074723 }
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.913908, lng: -49.069138 },
                title: "Prefeitura",
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.863587, lng: -49.090257 },
                title: "Atacadão"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.867379, lng: -49.061928 },
                title: "Galegão"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.886647, lng: -49.099737 },
                title: "Samae"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.904515, lng: -49.093287 },
                title: "Cooper Vila Nova"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.944602, lng: -49.072959 },
                title: "Cooper Garcia"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.910587, lng: -49.113752 },
                title: "Cooper Água Verde"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.927833, lng: -49.120766 },
                title: "Cooper Omino"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.862598, lng: -49.088911 },
                title: "Cooper Mafisa"
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: -26.962347, lng: -49.065795 },
                title: "Cooper Glória"
            });

            var location = google.maps.event.addListener(map, "click", function (event) {
                var latitude = event.latLng.lat();
                var longitude = event.latLng.lng();
                console.log(latitude + ', ' + longitude);

                var marker4 = new google.maps.Marker({
                    position: location,
                    map: map
                });
            });
        }

        function placeMarker(location) {

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3wA5Sjsuv-acrwFO5wG71UODgpJ5d0wY&callback=initMap">
    </script>
</body>
</html>