
@model BatteryCollectionViews.Models.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="img/battery logo.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Turn IT Greener</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form asp-action="Index">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input asp-for="@Model.Email" type="email" id="inputEmail" class="form-control" placeholder="Email" required="required" autofocus="autofocus" />
                            <label for="inputEmail">Email</label>
                            <span id="errorEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input asp-for="@Model.Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" />
                            <label for="inputPassword">Senha</label>
                            <span id="errorPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <input id="button" type="submit" value="Entrar" class="btn btn-dark btn-block" />
                    @if (ViewBag.Errors != null)
                    {
                        <p style="color:red; padding-top: 2%;">
                            @ViewBag.Errors
                        </p>
                    }
                    <style>
                        form input {
                            height: 45px;
                            width: 400px;
                        }
                    </style>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" asp-action="create" asp-controller="user">Criar Conta</a>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script type="text/javascript">

        var button = document.querySelector("#button");
        button.addEventListener("click", function (event) {

            validateUser();
        });

        function validateUser() {
            var email = $("#inputEmail").val();
            var password = $("#inputPassword").val();

            // Email
            if (email === "") {
                $("#errorEmail").html("Favor, informe o email.");
            }
            else {
                $("#errorEmail").html("");
            }

            // Password
            if (password === "") {
                $("#errorPassword").html("Favor, informe a senha.");
            }
            else {
                $("#errorPassword").html("");
            }
        }
    </script>
</body>
</html>
