@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Battery Collection</title>
    <link rel="icon" href="img/battery logo.png" type="image/x-icon">
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body class="text-center">
    <form style="padding-bottom: 100px" class="form-login">
        <h1 class="h2 mb-4 font-weight-normal">Login</h1>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="email" class="form-control" placeholder="Digite seu email" required autofocus>

        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="senha" class="form-control" placeholder="Digite sua senha" required>

        <button id="botaoEntrar" class="btn btn-lg btn-dark btn-block" onclick="handleLogin(event)" type="submit">Entrar</button>

        @Html.ActionLink("Create Account", "Create", "User")

        <p class="mt-5 mb-3 text-muted">&copy; Battery Collection</p>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const handleLogin = async (event) => {
            event.preventDefault()
            const response = await axios.post("https://localhost:44379/api/token", {
                email: "kennedy@gmail.com",
                password: "12345678"
            });
            console.log(response);
            if (response.status == 200) {
                window.location.href = "/Perfil";
            }
            //se não mostra erro
        }
    </script>
</body>
</html>