
@using (Html.BeginForm())
{
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="index" asp-controller="principalhome">Início</a>
        </li>
        <li class="breadcrumb-item active">Meu Perfil</li>
    </ol>

    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Pontuação Semanal
        </div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100" height="30"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Pontuação Mensal
                </div>
                <div class="card-body">
                    <canvas id="myBarChart" width="100" height="50"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-pie"></i>
                    Itens Mais Descartados
                </div>
                <div class="card-body">
                    <canvas id="myPieChart" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-fw fa-chart-bar"></i>
            Características Gerais
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                    <tbody>
                        <tr class="classtr">
                            <th>Lugar mais visitado</th>
                            <th>Objeto mais descartado</th>
                            <th>Pontuação total</th>
                            <th>Mês com mais descartes</th>
                        </tr>
                        <tr class="classtr">
                            <td id="mostVisited"></td>
                            <td id="mostDiscarted"></td>
                            <td id="totalPoints"></td>
                            <td id="mostDiscardedMonth"></td>
                        </tr>
                        <tr class="classtr">
                        </tr>
                        <tr class="classtr">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="vendor/chart.js/Chart.min.js"></script>

    <script type="text/javascript">

        function GetJson() {
            var resp = [];
            $.ajax({
                type: "GET",
                url: '@Url.Action("OnGetRankingLine", "Profile")',
                async: false,
                contentType: "application/json",
                success: function (data) {
                    resp.push(data);
                },
                error: function (req, status, error) {
                    // do something with error
                    console.log("error");
                    console.log(req);
                    console.log(status);
                    console.log(error);
                    alert("error");
                }
            });

            return resp;
        }

        var alldata = GetJson();

        var simpleData = alldata[0].alldiscards.weekPoints;

        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: ["Semana 1", "Semana 2", "Semana 3", "Semana 4"],
            datasets: [{
                label: "Sessions",
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: simpleData,
            }],
            },
            options: {
            scales: {
                xAxes: [{
                time: {
                    unit: 'date'
                },
                gridLines: {
                    display: false
                },
                ticks: {
                    maxTicksLimit: 7
                }
                }],
                yAxes: [{
                ticks: {
                    min: 0,
                    max: 7,
                    maxTicksLimit: 5
                },
                gridLines: {
                    color: "rgba(0, 0, 0, .125)",
                }
                }],
            },
            legend: {
                display: false
            }
            }
        });

        var simpleData1 = alldata[0].alldiscards.yearPoints;
        
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        // Bar Chart Example
        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            datasets: [{
                label: "Pontos",
                backgroundColor: "rgba(2,117,216,1)",
                borderColor: "rgba(2,117,216,1)",
                data: simpleData1,
            }],
            },
            options: {
            scales: {
                xAxes: [{
                time: {
                    unit: 'month'
                },
                gridLines: {
                    display: false
                },
                ticks: {
                    maxTicksLimit: 6
                }
                }],
                yAxes: [{
                ticks: {
                    min: 0,
                    max: 30,
                    maxTicksLimit: 5
                },
                gridLines: {
                    display: true
                }
                }],
            },
            legend: {
                display: false
            }
            }
        });

        // --------------------------------------------------------- //

        let simpleData2 = alldata[0].materialsDiscarded.map(el => el.value);

        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Bateria", "Pilha", "Óleo"],
                datasets: [{
                    data: simpleData2,
                    backgroundColor: ['#007bff', '#dc3545', '#ffc107'],
                }],
            },
        });

        // ------------------------------------------------------------ //

        $(document).ready(function () {
            document.getElementById("mostVisited").innerText = alldata[0].generalData.mostVisited;
            document.getElementById("mostDiscarted").innerText = alldata[0].generalData.mostDiscarded;
            document.getElementById("totalPoints").innerText = alldata[0].generalData.totalPoints;
            document.getElementById("mostDiscardedMonth").innerText = alldata[0].generalData.mostDiscardedMonth;
        });

    </script>
}