
@using (Html.BeginForm())
{
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="index" asp-controller="home">Início</a>
        </li>
        <li class="breadcrumb-item active">Ranking</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-fw fa-chart-bar"></i>
            Ranking de Blumenau
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Pontos</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}